@use '@scssVariables' as v;

.bookings {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__picture {
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
        filter: grayscale(10%);
    }

    &__main-title {
        position: absolute;
        left: 15%;
        top: 25%;
        z-index: 1;

        &__underline {
            filter: invert(16%) sepia(23%) saturate(4857%) hue-rotate(337deg) brightness(108%) contrast(131%);
            width: 40rem;
            transform: rotate(180deg);
        }
    }

    &__main-title p {
        width: 43rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    &__practical-info, &__book {
        text-align: center;
    }

    &__practical-info {
        margin: 3rem 0 5rem 0;

        &__info-container {
            display: flex;
            justify-content: space-between;
           
            
            &__opening {
                width: 20%;
            }

            &__rate { 
                flex-direction: column;
            }
        }
    }

    &__book {

        &__form-container {
            margin-bottom: 0.5rem;
        }

        &__form { 
            text-align: center;

            &__right {
                text-align: left;
                margin-left: 4rem;
            }

            &__hotel input {
                margin-right: 0.5rem;
            }

            &__message {
                margin-top: 1rem;
                font-size: 2rem;
                color: v.$clr-primary;
            }

            &__total-submit{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 2rem 0 1rem 0 ;
            }
        }

        &__form-container {
            display: flex;
        }

        
        
    }
}

.without-hotel {
    margin-right: 3rem;
}

.rate-container {
    display: flex;
    text-align: left;
}

.input-ticket {
    background-color: white;
    margin-right: 0.5rem;
}

.booking-form-submit-button {
    cursor: pointer;
    background-color: v.$clr-primary;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.total {
    font-size: 3rem;
}