$clr-ultra-dark: black;
$clr-medium-dark: #0E0E0E;
$clr-light-dark: #1a1919;
$clr-ultra-light: white;
$clr-primary: #800101;
$clr-modal-background: rgba(0, 0, 0, 0.705);
$clr-classified-background: rgba(0, 0, 0, 0.541);