@use '@scssVariables' as v;


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: v.$clr-modal-background;
    backdrop-filter: blur(1px);

    &__container {
        
        border-radius: 0.5rem;
        background-color: v.$clr-light-dark;
        padding: 2rem;
        text-align: right;

        &__close-button {
            width: 1.5rem;
            filter: invert(100%);
            cursor: pointer;
        }
    }
}