@use '@scssVariables' as v;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: v.$clr-modal-background;
  backdrop-filter: blur(1px);
  overflow-y: scroll;

  &__container {
    position: relative;
    border-radius: 0.5rem;
    background-color: v.$clr-light-dark;

    padding: 2rem;

    &__close-button {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      width: 1.5rem;
      filter: invert(100%);
      cursor: pointer;
    }
  }
}

@media (max-width: 800px) {
  .modal {
    align-items: start;

    &__container {
      height: 100%;

      width: 100%;
      // height: 100%;
    }
  }
}
