@use '@scssVariables' as v;

.header {
    background-color: v.$clr-ultra-dark;
    color: v.$clr-ultra-light;
    position: fixed;
    width: 100vw;
    z-index: 10;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
        padding: 2.5rem;
        margin: auto;

        &__logo {
            width: 12rem;
            transform: rotate(-5deg);
        }
    
        &__nav-link  *{
            margin-left: 1.5rem;
            font-family: "Bebas Neue";
            font-size: 1.4rem;
        }

        &__nav-link {

            &__connexion-button {
                cursor: pointer;
            }
        }
    }  
}