@use '@scssVariables' as v;


.reset-password {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 2rem 2rem;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__button-container {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
        }

        &__message {
            text-align: center;
            margin-top: 1.5rem;
            font-size: 1.2rem;
            width: 100%;
        }
    }
}

.reset-password input {
    display: block;
    background-color: v.$clr-ultra-light;
    width: 16rem;  
}

.reset-password h3 {
    color: v.$clr-primary;
}