@use '@scssVariables' as v;

.admin-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.5rem 0 0 0;
  text-align: center;

  &__list-container {

    &__item {
      display: flex;
      padding: 1rem 2rem;
      margin: 0.5rem;
      width: fit-content;
      background-color: v.$clr-light-dark;
      text-align: left;
      position: relative;

      &__after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: v.$clr-classified-background;
        position: absolute;
        left: 0;
        top: 0;
      }

      &__booking {
        margin: 0 2rem 0 5rem;
        width: 20rem;
        color: v.$clr-primary;
      }

      &__booking span {
        float: right;
        color: v.$clr-ultra-light;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__classified {
          z-index: 10;
        }
      }

      &__buttons * {
        background-color: v.$clr-primary;
        height: 2rem;
        margin: 0.25rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
