@use '@scssVariables' as v;

.footer {
    background-color: v.$clr-ultra-dark;
    color: v.$clr-ultra-light;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
        padding: 2rem;
        margin: auto;

        &__logo {
            width: 8rem;
            transform: rotate(-5deg);
        }
    }  
}